

body {
  background-image: url("Illuminati.png");
  background-size: 15vw;
  background-attachment: scroll;
  text-align: center;
}

#title {
  text-decoration: underline;
  background-color: gold;
  color: black;
  margin-left: 35vw;
  margin-right: 35vw;
}

#lyrics {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  background-color: gold;
  color: black;
  margin-left: 30vw;
  margin-right: 30vw;
}
