


@media screen and (min-width: 1201px) {
  .software {
    width: 450px;
    height: 575px;
    background: url(software.png) 0 0px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .software {
    width: 420px;
    height: 575px;
    background: url(software.png) -450px 0px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .software {
    width: 400px;
    height: 575px;
    background: url(software.png) -870px 0px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .software {
    width: 725px;
    height: 700px;
    background: url(software.png) 0px -590px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 600px) {
  .software {
    width: 600px;
    height: 700px;
    background: url(software.png) -725px -590px;
    background-repeat: no-repeat;
  }
}
